body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  font-family:Arial;
}

.search-box{
  position:relative;
}

.search-input{
  width:0;
  padding:10px;
  border:2px solid black;
  outline:none;
  transition:0.4s;
}

.search-box.active .search-input{
  width:200px;
}

.search-btn{
  padding:10px;
  cursor:pointer;
}
